/* ----------- Compass Import ----------*/
@import "compass";

/* -----------Color Schemes Import --------------*/
@import url(color_schemes/blue.css);
@import url(color_schemes/orange.css);
@import url(color_schemes/green.css);

/* -----------Mixins --------------*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* -----------Colors Variables --------------*/
	$col2:#4e4e4e;


	* {
	margin: 0;
	}
	html, body {
		height: 100%;
	}

.aui {
	body {
	  background:url(../images/tiny_grid.png);
	  font-family: 'Open Sans', sans-serif;
	  color:$col2;
	  font-size:13px;
	}
	img {
		height:none;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	  font-weight: 600; 
	  font-family: 'Open Sans', sans-serif;
	  color:$col2;
	}

	a {
		  color: $col2;
		  -webkit-transition: color 300ms, background-color 300ms;
		  -moz-transition: color 300ms, background-color 300ms;
		  -o-transition:  color 300ms, background-color 300ms;
		  transition:  color 300ms, background-color 300ms;
		  &:hover, &:focus {
		  	color: lighten($col2,10%);
		  }
	}
	.btn-danger {
			background-image: linear-gradient(lighten(#ed2c17,15%), #ed2c17);
			&:hover {
				background:#ed2c17;
			}
		}
	.btn-primary, .btn-danger, .btn-success {
		&:hover {
			color:#fff !important;
		}
	}
	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea, .uneditable-input {
		font-size: 13px;
		border: 1px solid #DDD;
		&:focus {
			border-color: rgba(0, 172, 255, 0.8);
		}
	}
	label {
		font-size: 13px;
	}
	.form {
		margin:0;
		
	}
	.table {
		overflow: hidden;

		thead th {
			background-image: linear-gradient(#ededed, #ebebeb);
			font-weight: bold;
		}

		.table-sort-liner a {
			color: #555;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	/* --------------Wrappers---------------- */
	#wrapper {
		padding:0;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -46px;
	}
	#banner {
		@include box-shadow (0 2px 4px #b5b5b5);
		border-bottom:solid 1px #fff;
	}
	#content {
		
	}
	#main-content {
	}
	
	#footer {
		background:#fff;
		border-top:solid 1px #e2e2e2;
		line-height:45px;
		padding:0 !important;
		p {
			margin:0;
		}
	}
	.push {
		height:45px !important;
	}

	
	/*--------------------- Header ----------------------*/
	.site-title {
		text-align:center;
		padding:10px;
		display:block;
		margin:0 auto;
		span {
			display:none;
		}
	}
	.logo {
		line-height: 55px;
	}
	/*--------------------- Navigation ----------------------*/
	#navigation {
		float:right;
	}	
	.jMenu{display:table;margin:0 !important;padding:0;list-style:none; position:relative}
	.jMenu li{display:table-cell; margin:0;list-style:none}
	.jMenu li a{padding:20px 15px;display:block;background-color:transparent;color:#fff; cursor:pointer;font-size:12px}
	.jMenu li a:hover{background-color:#2a2a2a; color: #23dbdb; text-decoration:none;}
	.jMenu li:hover>a{background-color:#2a2a2a}
	.jMenu li ul{display:none;position:absolute;z-index:9999;padding:0;margin:0;list-style:none}
	.jMenu li ul li{background-color:#333;display:block;border-bottom:1px solid #bbb;padding:0;list-style:none;position:relative}
	.jMenu li ul li a{font-size:11px;color:#bbb;text-transform:none;display:block;padding:7px;border-top:1px solid transparent;border-bottom:1px solid transparent; position:relative;}
	.jMenu li ul li a:hover {color: #fff;}
	.jMenu li ul li a.isParent{background-color:#2a2a2a}
	.jMenu li ul li a:hover{background-color:#2a2a2a;border-top:1px solid #322f32;border-bottom:1px solid #322f32}
	.modify-pages li {position: static;}
	.menu-icon {
		position: relative;
		right: -10px;
	}
	.delete-tab {
		padding: 0;
		position: relative;
		margin-top: -15px;
		right: 5px;
		text-align: right;
		top:-40px;
	}
	.child-menu {
		.menu-icon {
			position: absolute;
			right:10px;
			top:10px;
		}
	}
	.grandchild-menu {
		margin-left: 1px !important;
		.menu-icon {
			position: relative;
			right: -70px;
		}
	}
	.sub-grandchild-menu {
		border-left:solid 2px #23dbdb;
		margin-left: 1px !important;
	}
	.jMenu li:last-child .grandchild-menu {
		left:-152px !important;
	}
	/*--------------------- breadcrumbs ----------------------*/
	#breadcrumbs {
		margin-top:15px;
		.breadcrumb {
			background:none !important;
			margin-bottom: 15px;
		}
	}

	.portlet {
		@include box-shadow (0 4px 0 0 #e2e2e2);
		.portlet-topper {
			padding:0 15px;
			border-bottom: solid 1px;
			@include border-top-left-radius(5px);
			@include border-top-right-radius(5px);
			h2 {
				margin:0;
				color:$col2;
				font-size: 24px;
			}
			.portlet-topper-toolbar {
				z-index: 0;
				top:10px;
				right:15px;
			}
		}
		.portlet-content {
			background: #fff;
			padding:20px 20px 0 20px;
		}
	}

}