$green:#4CC417;
$col2:#4e4e4e;
.aui {
	.green {
		a {
		  &:hover, &:focus {
		  	color: lighten($green,10%);
		  }
		}
		.btn-primary {
			background-image: linear-gradient(lighten($green,15%), $green);
			border-color:$green;
			&:hover {
				background:$green;
			}
		}
		#banner {
			background-image: linear-gradient(darken($green,15%), $green);
		}
		.jMenu li a:hover{
			color: #fff;
		}
		.portlet {
			.portlet-topper {
				background-image: linear-gradient(#e6e8e9, #d1d1d1);
				border-color:$green;
			}
		}

	}
}