$orange:#F87217;
$col2:#4e4e4e;
.aui {
	.orange {
		a {
		  &:hover, &:focus {
		  	color: lighten($orange,10%);
		  }
		}
		.btn-primary {
			background-image: linear-gradient(lighten($orange,15%), $orange);
			border-color:$orange;
			&:hover {
				background:$orange;
			}
		}
		#banner {
			background-image: linear-gradient(darken($orange,15%), $orange);
		}
		.jMenu li a:hover{
			color: #fff;
		}
		.portlet {
			.portlet-topper {
				background-image: linear-gradient(#e6e8e9, #d1d1d1);
				border-color:$orange;
			}
		}

	}
}