.aui .blue a:hover, .aui .blue a:focus {
  color: #516ffd; }
.aui .blue .btn-primary {
  background-image: linear-gradient(#6a84fd, #1f45fc);
  border-color: #1f45fc; }
  .aui .blue .btn-primary:hover {
    background: #1f45fc; }
.aui .blue #banner {
  background-image: linear-gradient(#6a84fd, #1f45fc); }
.aui .blue .jMenu li a:hover {
  color: #fff; }
.aui .blue .portlet .portlet-topper {
  background-image: linear-gradient(#e6e8e9, #d1d1d1);
  border-color: #1f45fc; }

