<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	<script src="$themeDisplay.getPathThemeRoot()/js/jquery.js" type="text/javascript"></script>
	<script src="$themeDisplay.getPathThemeRoot()/js/jMenu.jquery.js" type="text/javascript"></script>
	
	$theme.include($top_head_include)
	#set($site_logo = "$images_folder/logo.png")
	#set($logo_description = "logo")
	#set($site_name = "MultiLevel Navigation Menu")
	#set($site_logo_height = "auto")
	#set($site_logo_width = "auto")
	
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div class="container">
			<div class="row">
				<div class="span3">
					<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
					</a>
				</div>
				<div class="span9">
					#if ($has_navigation || $is_signed_in)
						#parse ("$full_templates_path/navigation.vm")
					#end
				</div>
			</div>
		</div>
	</header>

	<div id="content">
		<div class="container">
			<nav id="breadcrumbs">#breadcrumbs()</nav>

			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()

				$portletDisplay.setTitle($the_title)

				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</div>
	<div class="push"></div>
</div>
<footer id="footer" role="contentinfo">
	<div class="container">
	<p class="powered-by">
		#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
	</p>
	</div>
</footer>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>